.a {
  padding: 1rem;
  transition: all 250ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  text-align: center;

  h6 {
    font-weight: bold;
  }

  @media (min-width: 768px) {
    text-align: start;
  }

  @media (min-width: 1024px) {
    padding: 1rem;
  }
}

.a:hover {
  transform: scale(1.05);
  background-color: #2e2e2e;
}

.a:active {
  transform: scale(0.9);
}

.title {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.tag {
  font-size: 0.8rem;
  padding-left: 0.5rem;
}

.blog {
  color: #06b6d4;
}

.video {
  color: #f43f5e;
}

.course {
  color: #22c55e;
}

.project {
  color: #f97316;
}

.date {
  font-size: 0.8rem;
  color: #b0b7bf;
}

.button {
  color: #8b5cf6;
  font-weight: bold;
  margin-top: 0.5rem;
}
