.a {
  padding: 1rem;
  transition: all 250ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;

  h6 {
    font-weight: bold;
  }

  @media (min-width: 1024px) {
    padding: 1rem;
  }
}

.a:hover {
  transform: scale(1.05);
  background-color: #f5f5f5;
}

.a:active {
  transform: scale(0.9);
}

.videoTag {
  font-size: 0.8rem;
  color: rgb(224, 80, 80);
  padding-left: 0.5rem;
}

.date {
  font-size: 0.8rem;
  color: #b0b7bf;
}

.button {
  color: #8b5cf6;
  font-weight: bold;
  margin-top: 0.5rem;
}
