.container {
  max-width: 50rem;
  margin: 3rem auto;
  padding: 0 1.5rem;
}

.title {
  color: #ebebeb;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;

  @media (min-width: 768px) {
    text-align: start;
  }
}

.date {
  color: #b0b7bf;
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: center;

  @media (min-width: 768px) {
    text-align: start;
  }
}

.markdown {
  p {
    margin: 1rem 0;
  }
}
